.lightgrey {
    background-color: #161B22;
}

.mainbackground {
    background-color: #3c3c3c;
}

.white {
    background-color: white;
}

.cardborder {
    background-color: #0D1117;
}

.inputbordercolor {
    background-color: #97989b;
}