@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@400;600&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: white;
  color: white;
  margin: 0;
}

html {
  background-color: white;
}

header {
  background-color: #fff;
}

/* h1 {
  font-size: 1rem;
  margin: 0;
} */

/* h2 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.75px;
  color: white;
} */

main {
  /* max-width: 40rem; */
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

main > p {
  margin-bottom: 2rem;
}

main > div {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
}

pre {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.75rem;
}

ul {
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
}

li {
  list-style-type: none;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  font-weight: 600;
  border-radius: 0.25rem;
}

.borderstyling {
	border: 2px solid #212831;
	border-radius: 5px;
}

.btnborderstyling:hover {
  border: 2px solid #848688;
}